﻿@model EntriesTableViewModel

@{
    ViewData["Title"] = "Погодные данные";
}
<h1>@ViewData["Title"]</h1>

<br />

<form method="get" action="/Home/EntriesTable" >
    <label for="selectedYear">Год</label>
    <input id="selectedYear" name="selectedYear" type="number" min="2000" max="2024" step="1" value="@ViewData["selectedYear"]"/>
    <label for="selectedMonth">Месяц</label>
    <select id="selectedMonth" name="selectedMonth">
        <option value="0"></option>
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select>
    <button type="submit">Поиск</button>

     @if (Model.PageViewModel.HasPreviousPage)
{
    <button name="page" type="submit" value="@(Model.PageViewModel.PageNumber - 1)">Назад</button>
}
@if (Model.PageViewModel.HasNextPage)
{
    <button name="page" type="submit" value="@(Model.PageViewModel.PageNumber + 1)">Вперед</button>
}
</form>

<br />



<table id="entriesTable">

    <tr>
        <th>Дата</th>
        <th>Температура воздуха</th>
        <th>Отн. влажность воздуха</th>
        <th>Точка росы</th>
        <th>Атм. давление</th>
        <th>Направление ветра</th>
        <th>Скорость ветра</th>
        <th>Облачность</th>
        <th>Нижняя граница облачности</th>
        <th>Горизонтальная видимость</th>
        <th>Погодные явления</th>
        <th>Дата заполнения</th>
    </tr>

@foreach(var entry in Model.WeatherEntries)
{
    <tr>
        <td>@entry.DateTime</td>
        <td>@entry.AirTemperature</td>
        <td>@entry.RelativeHumidity</td>
        <td>@entry.DewPoint</td>
        <td>@entry.AtmPressure</td>
        <td>@entry.WindDirection</td>
        <td>@entry.WindSpeed</td>
        <td>@entry.CloudCover</td>
        <td>@entry.CloudCoverLowBorder</td>
        <td>@entry.HorizontalVisibility</td>
        <td>@entry.WeatherEvent</td>
        <td>@entry.CreatedDate</td>
    </tr>
}
</table>


<script>
let element = document.getElementById('selectedMonth');
element.value = @ViewData["selectedMonth"];


</script>