﻿@{
    ViewData["Title"] = "Загрузить данные";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="MultipleFiles" accept=".xlsx" multiple />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>
</div>


